<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Index</title>
  <link rel="stylesheet" href="/templates/index.css">
</head>

<body>
  <div>
    <nav className="navbar">
        <div id='navbar__title'>Cubie's Meme API</div>
        <div className="navbar__container">
          <div className="navbar__toggle">
              <span className="bar"></span>
              <span className="bar"></span>
              <span className="bar"></span>
          </div>
          <ul className="navbar__menu">
              <li className="navbar__item">
                <a href="https://cybercube21.de" className="navbar__links"> Home </a>
              </li>
              <li className="navbar__item">
                <a href="/" className="navbar__links"> Memes </a>
              </li>
              <li className="navbar__item">
                <a href="https://cybercube21.de/contact.html" className="navbar__links"> Contact </a>
              </li>
          </ul>
        </div>
    </nav>
    <div className="center-object">
      <div className="wrapper">
        <main className='page-main'>
          a
        </main> 
      </div>
    </div>
  </div>
</body>

</html>